.settings-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: .35rem;
    padding: .75rem;
    font-family: custom_medium;
}

.settings-menu-item-section-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    gap: .75rem;
    margin-top: .65em;
    margin-bottom: .65rem;
    padding-top: .35em;
    padding-bottom: .35rem;
    align-items: center;
    width: 100%;
    padding-right: 1rem;

    font-family: custom_bold;
    font-size: .875rem;
}

.settings-menu-item-section-title:first-child {
    margin-top: 0.35rem;
}

.settings-menu-item-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    gap: .5rem;
}

.settings-menu-item-group-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: .35rem;
}

.settings-menu-item-content-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: .5rem;
}

.settings-menu-item-text {
    font-family: custom_medium;
}