@use '../../../../styles/mixins' as *;

.settings-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: .35rem;
    padding: .75rem;
    font-family: custom_medium;
}

.settings-menu-item-section-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    vertical-align: middle;
    gap: .75rem;
    margin-top: .65em;
    margin-bottom: .65rem;
    padding-top: .35em;
    padding-bottom: .35rem;
    align-items: center;
    width: 100%;

    font-family: custom_bold;
    font-size: .875rem;

    cursor: pointer;
}

.settings-menu-item-section-title:first-child {
    margin-top: 0.35rem;
}

.settings-menu-item-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    gap: .5rem;
}

.settings-menu-item-group-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: .35rem;

    transition: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.settings-menu-item-group-container.open {
    margin-top: 0;
    padding-bottom: 0.75rem;
}

.settings-menu-item-group-container.closed {
    margin-top: -100%;
}

.settings-menu-item-content-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: .5rem;
}

.settings-menu-item-text {
    font-family: custom_medium;
}

.preferences-container {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;

    margin-right: 1.25rem;

    @include respond-up(lg) {
        margin-right: 15rem;
    }

    @include respond-up(md) {
        margin-right: 10rem;
    }
}

.user-initials-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--accent_alt);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    padding: .15rem;
    cursor: pointer;
    font-size: 1rem;

    transition: all ease-in-out 0.3s;

    @include respond-up(md) {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.15rem;
    }
}

.user-initials-circle:hover {
    background-color: var(--accent_tertiary);
}

.sign-out-button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    align-items: center;

    padding-top: 0.75rem;
    margin-top: 0.25rem;

    border-top: 1px solid var(--border);
}