@use "../themes/light-theme.scss" as *;
@use "../themes/dark-theme.scss" as *;
@use "@angular/material" as mat;

@include mat.core();

//#region CSS Variables
@layer base {
    :root {
        --primary: #ffffff;           
        --secondary: #f5f5f5;           
        --alt: #0c0c0c;             
        --accent: #e3e3e3;              
        --accent_alt: #005285;          

        --text_primary: #0c0c0c;         
        --text_secondary: #333333;      
        --text_tertiary: #555555;       
        --text_accent: #005285;         
        --text_accent_alt: #8aaecf;     
        --menu_item_text: #0c0c0c;

        --text_warn: #e63946;           
        --text_confirm: #4caf50;         

        --bg_menu_item_hover: #dcdcdc;

        --button_primary: #005285;     
        --button_confirm: #4caf5075;    
        --button_warn: #e6394675;       

        --scroll_bg: #f5f5f5;
        --scroll_thumb: linear-gradient(278deg, #cccccc -10.44%, #aaaaaa 100%);
        --scroll_thumb_highlighted: linear-gradient(278deg, #aaaaaa -10.44%, #888888 100%);

        --menu_bg: #e9e9e9;

        --logo: url('./assets/svg/logo_light.svg');
    }
}

.dark-theme-dark {
    --primary: #0c0c0c;                  
    --secondary: #1a1a1d;                
    --alt: #f5f5f5;                      
    --accent: #161616;                  
    --accent_alt: #005285;               

    --text_primary: #ffffff;             
    --text_secondary: #d0d0d0;           
    --text_tertiary: #999999;            
    --text_accent: #0078c3;              
    --text_accent_alt: #5b8db3;          
    --menu_item_text: #d0d0d0;

    --text_warn: #f87171;                
    --text_confirm: #81c784;             

    --bg_menu_item_hover: #161616;

    --button_primary: #005285;           
    --button_confirm: #4caf5070;         
    --button_warn: #e6394660;           

    --scroll_bg: #1a1a1d;
    --scroll_thumb: linear-gradient(278deg, #2a2a2d -10.44%, #3b3b3e 100%);
    --scroll_thumb_highlighted: linear-gradient(278deg, #3b3b3e -10.44%, #555555 100%);

    --menu_bg: #070707;

    --logo: url('./assets/svg/logo_dark.svg');
}

body {
    @include mat.all-component-themes($theme-light);
}

body.dark-theme-dark {
    @include mat.all-component-colors($theme-dark);
}
//#endregion

//#region Fonts
@font-face {
    font-family: custom_black;
    src: url('./assets/fonts/woff2/Montserrat-Black.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-Black.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_black_italic;
    src: url('./assets/fonts/woff2/Montserrat-BlackItalic.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-BlackItalic.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_bold;
    src: url('./assets/fonts/woff2/Montserrat-Bold.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-Bold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_bold_italic;
    src: url('./assets/fonts/woff2/Montserrat-BoldItalic.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-BoldItalic.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_extrabold;
    src: url('./assets/fonts/woff2/Montserrat-ExtraBold.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-ExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_extrabold_italic;
    src: url('./assets/fonts/woff2/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_extralight;
    src: url('./assets/fonts/woff2/Montserrat-ExtraLight.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-ExtraLight.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_extralight_italic;
    src: url('./assets/fonts/woff2/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-ExtraLightItalic.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_italic;
    src: url('./assets/fonts/woff2/Montserrat-Italic.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-Italic.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_light;
    src: url('./assets/fonts/woff2/Montserrat-Light.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-Light.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_light_italic;
    src: url('./assets/fonts/woff2/Montserrat-LightItalic.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-LightItalic.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_medium;
    src: url('./assets/fonts/woff2/Montserrat-Medium.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-Medium.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_medium_italic;
    src: url('./assets/fonts/woff2/Montserrat-MediumItalic.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-MediumItalic.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_regular;
    src: url('./assets/fonts/woff2/Montserrat-Regular.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_semibold;
    src: url('./assets/fonts/woff2/Montserrat-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_semibold_italic;
    src: url('./assets/fonts/woff2/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-SemiBoldItalic.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_thin;
    src: url('./assets/fonts/woff2/Montserrat-Thin.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-Thin.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: custom_thin_italic;
    src: url('./assets/fonts/woff2/Montserrat-ThinItalic.woff2') format('woff2'),
        url('./assets/fonts/woff/Montserrat-ThinItalic.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
//#endregion

//#region General Styles
html,
body {
    font-family: custom_medium;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    color: var(--text_primary);
    height: 100%;

}

body {
    overflow-x: hidden !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    height: auto;
}

body nav {
    top: 0;
    width: 100%;
    z-index: 100;
    height: 5vh;
}

button {
    background: none;
    border: none;
}

.content_container {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

//#region Scrollbar Customization Start
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--scroll_bg);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll_thumb);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll_thumb_highlighted);
}
//#endregion

//#region Text

.text-primary {
    color: var(--text_primary)
}

.text-secondary {
    color: var(--text_secondary);
}

.text-tertiary {
    color: var(--text_tertiary);
}

.text-accent {
  color: var(--text_accent);
}

.text-accent-alt {
  color: var(--text_accent_alt);
}


.text-confirm {
  color: var(--text_confirm);
}

.text-warn {
  color: var(--text_warn);
}

.text-menu-item {
    color: var(--menu_item_text)
}

//#endregion

.disabled-input {
  cursor: pointer;
  pointer-events: none;
  touch-action: none;
}

.select-none {
  user-select: none;
}

.page-section {
    width: 100vw;
    height: 100dvh;
    height: 100vh;

    background-color: var(--primary);
}

//#endregion

//#region Material Customization

@mixin style-theme($theme) {
  $p: map-get($theme, primary);
  $a: map-get($theme, accent);
  $w: map-get($theme, warn);
  $b: map-get($theme, background);
  $f: map-get($theme, foreground);
  $primary: mat-color($p);
  $accent: mat-color($a);
  $warn: mat-color($w);
  $background: mat-color($b, background);
  $background-card: mat-color($b, card);
  $foreground: mat-color($f, text);
  $app-bar: mat-color($b, app-bar);
  $primary-contrast: mat-color($p, default-contrast);
  $accent-contrast: mat-color($a, default-contrast);
  $warn-contrast: mat-color($w, default-contrast);

  .color.primary {
    color: $primary;
  }

  .color.accent {
    color: $accent;
  }

  .color.warn {
    color: $warn;
  }

  .background.primary {
    background-color: $primary;
    color: $primary-contrast;
  }

  .background.accent {
    background-color: $accent;
    color: $accent-contrast;
  }

  .background.warn {
    background-color: $warn;
    color: $warn-contrast;
  }

  .background.card {
    background-color: $background-card;
  }

  .background.stacked {
    background-color: $background;
  }

  code.snippet,
  a.link {
    color: $primary;
  }

  code.snippet.alt,
  a.link:visited {
    color: $accent;
  }

  sidepanel mat-nav-list.mat-nav-list {
    padding-top: 0px;
    background-color: $app-bar;
  }

  mat-paginator.mat-paginator {
    background-color: $background;
  }

  a.mat-list-item.active,
  a.mat-tab-link.active {
    color: $primary;
  }

  text {
    fill: $foreground;
  }
}

html, body, app, .app-frame, .app-body {
    overflow: hidden;
    margin: 0;
    height: 100%;
}

.app-panel {
    height: 100%;
    overflow: auto;
}

mat-toolbar.mat-toolbar.app-toolbar {
  padding: 0 8px;

  button.mat-icon-button {
    margin-right: 8px;
  }
}

mat-toolbar.mat-toolbar {
  span {
    margin-right: 4px;
    margin-left: 4px;
  }
  button.mat-button {
    margin-left: 4px;
    margin-right: 4px;
  }
}

a.mat-tab-link {
  min-width: 80px;
}

.container {
  padding: 4px;
}

.card {
  margin: 4px;
}

.clickable {
  cursor: pointer;
}

img.thumbnail {
  height: 80px;
}

img.profile-image {
  height: 200px;
}

.static-elevation {
  @include mat.elevation(2);
}

.elevated {
  @include mat.elevation-transition;
  @include mat.elevation(2);

  &:hover {
    @include mat.elevation(6);
  }
}

mat-dialog-container {
    background-color: transparent !important;
}

.mat-mdc-dialog-container {
    border-radius: 1rem !important;
}

.mdc-dialog__surface {
    border-radius: 1rem !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 1rem !important;
    background-color: transparent !important;
}

.settings-menu-item {
    cursor: pointer;
}

.mat-mdc-menu-panel {
    background-color: var(--menu_bg) !important;
    color: var(--menu_item_text) !important
}

.settings-menu-item.mat-mdc-menu-item {
    color: var(--menu_item_text) !important
}

.settings-menu-item.mat-icon-no-color {
    color: var(--menu_item_text) !important
}

.mat-internal-form-field {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
}

.mat-mdc-table {
    background-color: transparent !important;
}

.mat-mdc-paginator {
    background-color: transparent !important;
}

.mat-mdc-card {
    background-color: var(--accent) !important;
}

.mdc-text-field--filled {
    background-color: var(--secondary) !important;
}

//#endregion