@use "../themes/light-theme.scss" as *;
@use "../themes/dark-theme.scss" as *;
@use "@angular/material" as mat;

@use './styles/mixins' as *;

@include mat.core();

//#region CSS Variables
@layer base {
  :root {
    --primary: #f4f4f4;
    --secondary: #f5f5f5;
    --alt: #0c0c0c;
    --accent: #e3e3e3;
    --accent_alt: #005285;
    --accent_tertiary: #006aac;

    --text_primary: #0c0c0c;
    --text_secondary: #333333;
    --text_tertiary: #555555;
    --text_accent: #005285;
    --text_accent_alt: #8aaecf;
    --menu_item_text: #0c0c0c;

    --text_warn: #e63946;
    --text_confirm: #158519;

    --bg_menu_item_hover: #dcdcdc;
    --bg_translucent_contrast: rgba(255, 255, 255, 0.5);
    --bg_translucent_contrast_secondary: rgba(255, 255, 255, 0.9);
    --border: #a4a4a4;

    --button_primary: #2978a992;
    --button_confirm: #4caf4f65;
    --button_warn: #c32f3b62;

    --snackbar_warn: #490006;

    --scroll_bg: #f5f5f5;
    --scroll_thumb: linear-gradient(278deg, #cccccc -10.44%, #aaaaaa 100%);
    --scroll_thumb_highlighted: linear-gradient(278deg, #aaaaaa -10.44%, #888888 100%);

    --status-bg-upcoming: #8664d565;
    --status-bg-success: #36b43a65;
    --status-bg-failed: #c21b2962;
    --status-bg-unknown: #3c445862;

    --status-text-upcoming: #672eea;
    --status-text-success: #3a993e;
    --status-text-failed: #ab313b;
    --status-text-unknown: #656f88;

    --bg_primary: #f7f7f7;
    --bg_secondary: #ffffff;

    --logo: url('/assets/svg/logo_light.svg');
    --lading_image: url('/assets/images/landing_image_1.jpg');
  }
}

.dark-theme-dark {
  --primary: #0c0c0c;
  --secondary: #1a1a1d;
  --alt: #f5f5f5;
  --accent: #161616;
  --accent_alt: #005285;
  --accent_tertiary: #1c7fbd;

  --text_primary: #ffffff;
  --text_secondary: #d0d0d0;
  --text_tertiary: #999999;
  --text_accent: #0078c3;
  --text_accent_alt: #5b8db3;
  --menu_item_text: #d0d0d0;

  --text_warn: #f87171;
  --text_confirm: #69cd6e;

  --bg_menu_item_hover: #161616;
  --bg_translucent_contrast: rgba(0, 0, 0, 0.65);
  --bg_translucent_contrast_secondary: rgba(0, 0, 0, 0.5);
  --border: #272727;

  --button_primary: #002e4bb9;
  --button_confirm: #4caf5070;
  --button_warn: #e6394660;

  --snackbar_warn: #37070b;

  --scroll_bg: #1a1a1d;
  --scroll_thumb: linear-gradient(278deg, #2a2a2d -10.44%, #3b3b3e 100%);
  --scroll_thumb_highlighted: linear-gradient(278deg, #3b3b3e -10.44%, #555555 100%);

  --status-bg-upcoming: #4c3b8265;
  --status-bg-success: #2d7a3265;
  --status-bg-failed: #8b252f62;
  --status-bg-unknown: #2a323862;

  --status-text-upcoming: #9d7bff;
  --status-text-success: #5eb862;
  --status-text-failed: #e57373;
  --status-text-unknown: #8a94b0;

  --bg_primary: #0a0a0a;
  --bg_secondary: #111111;

  --logo: url('/assets/svg/logo_dark.svg');
  --lading_image: url('/assets/images/landing_image_2.jpg');
}

body {
  @include mat.all-component-themes($theme-light);
}

body.dark-theme-dark {
  @include mat.all-component-colors($theme-dark);
}

//#endregion

//#region Fonts
@font-face {
  font-family: custom_bold;
  src: url('/assets/fonts/woff2/SpaceGrotesk-Bold.woff2') format('woff2'),
    url('/assets/fonts/woff/SpaceGrotesk-Bold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: custom_semibold;
  src: url('/assets/fonts/woff2/SpaceGrotesk-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/woff/SpaceGrotesk-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: custom_medium;
  src: url('/assets/fonts/woff2/SpaceGrotesk-Medium.woff2') format('woff2'),
    url('/assets/fonts/woff/SpaceGrotesk-Medium.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: custom_regular;
  src: url('/assets/fonts/woff2/SpaceGrotesk-Regular.woff2') format('woff2'),
    url('/assets/fonts/woff/SpaceGrotesk-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: custom_light;
  src: url('/assets/fonts/woff2/SpaceGrotesk-Light.woff2') format('woff2'),
    url('/assets/fonts/woff/SpaceGrotesk-Light.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

//#endregion

//#region General Styles
html,
body {
  font-family: custom_medium;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  color: var(--text_primary);
  height: 100%;

}

body {
  overflow-x: hidden !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  height: auto;
}

body nav {
  top: 0;
  width: 100%;
  z-index: 100;
  height: 5vh;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

.content_container {
  flex: 1 1 auto;
  overflow-y: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

//#region Scrollbar Customization Start
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--scroll_bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll_thumb);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll_thumb_highlighted);
}

//#endregion

//#region Text

.text-primary {
  color: var(--text_primary)
}

.text-secondary {
  color: var(--text_secondary);
}

.text-tertiary {
  color: var(--text_tertiary);
}

.text-accent {
  color: var(--text_accent);
}

.text-accent-alt {
  color: var(--text_accent_alt);
}


.text-confirm {
  color: var(--text_confirm);
}

.text-warn {
  color: var(--text_warn);
}

.text-menu-item {
  color: var(--menu_item_text)
}

//#endregion

.disabled-input {
  cursor: pointer;
  pointer-events: none;
  touch-action: none;
}

.select-none {
  user-select: none;
}

.page-section {
  width: 100vw;
  height: 100dvh;
  height: 100vh;

  background-color: var(--bg_primary);

  overflow-y: auto;
  overflow-x: clip;
}

.landing-background-image {
  background-image: var(--lading_image);
  background-size: cover;
  background-position: center;

  position: relative;

  @include respond-down(md) {
    background-position: 45% center;
  }
}

.landing-background-image::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--bg_translucent_contrast);
  opacity: 0.3;
}

.overflow-hidden {
  overflow: hidden;
}

.table-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
}

.nav-link {
  cursor: pointer;
  color: var(--text_tertiary);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--text_primary);
  }
}

.route-active {
  color: var(--text_primary) !important;
}

mat-icon {
  color: var(--text-primary);
}

.table-menu-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: var(--text_primary);
  transition: background 0.3s ease;

  font-family: custom_regular;

  cursor: pointer;

  &:hover {
    background: var(--bg_menu_item_hover);
  }

  mat-icon {
    margin-right: 8px;
  }
}

.clickable-item {
  cursor: pointer;
  color: var(--text_primary);
}

.animated-icon {
  transition: all 0.3s ease-in-out;
}

.modal-container {
  padding: 1.5rem;
  background-color: var(--bg_secondary);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  max-height: 90vh;
  max-height: 90dvh;

  max-width: 90vw;
  max-width: 90dvw;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  vertical-align: middle;

  width: 25vw;
  width: 25dvw;

  @include respond-down(lg) {
    width: 45vw;
    width: 45dvw;
  }

  @include respond-down(md) {
    width: unset;
  }

  @include respond-down(sm) {
    min-width: 65vw;
    min-width: 65dvw;
  }
}


.landing-bg-stars {
    background: black url('/assets/images/stars.png') repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: -2;
}

.landing-bg-twinkling-effect {
    width: 10000px;
    height: 100%;
    background: transparent url('/assets/images/twinkling.png') repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;
}
//#endregion

//#region Animations
.fade-in-anim {
  animation: fadeIn 0.5s forwards;
}

.fade-out-anim {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

//#endregion

//#region Material Customization

@mixin style-theme($theme) {
  $p: map-get($theme, primary);
  $a: map-get($theme, accent);
  $w: map-get($theme, warn);
  $b: map-get($theme, background);
  $f: map-get($theme, foreground);
  $primary: mat-color($p);
  $accent: mat-color($a);
  $warn: mat-color($w);
  $background: mat-color($b, background);
  $background-card: mat-color($b, card);
  $foreground: mat-color($f, text);
  $app-bar: mat-color($b, app-bar);
  $primary-contrast: mat-color($p, default-contrast);
  $accent-contrast: mat-color($a, default-contrast);
  $warn-contrast: mat-color($w, default-contrast);

  .color.primary {
    color: $primary;
  }

  .color.accent {
    color: $accent;
  }

  .color.warn {
    color: $warn;
  }

  .background.primary {
    background-color: $primary;
    color: $primary-contrast;
  }

  .background.accent {
    background-color: $accent;
    color: $accent-contrast;
  }

  .background.warn {
    background-color: $warn;
    color: $warn-contrast;
  }

  .background.card {
    background-color: $background-card;
  }

  .background.stacked {
    background-color: $background;
  }

  code.snippet,
  a.link {
    color: $primary;
  }

  code.snippet.alt,
  a.link:visited {
    color: $accent;
  }

  sidepanel mat-nav-list.mat-nav-list {
    padding-top: 0px;
    background-color: $app-bar;
  }

  mat-paginator.mat-paginator {
    background-color: $background;
  }

  a.mat-list-item.active,
  a.mat-tab-link.active {
    color: $primary;
  }

  text {
    fill: $foreground;
  }
}

html,
body,
app,
.app-frame,
.app-body {
  overflow: hidden;
  margin: 0;
  height: 100%;
}

.app-panel {
  height: 100%;
  overflow: auto;
}

mat-toolbar.mat-toolbar.app-toolbar {
  padding: 0 8px;

  button.mat-icon-button {
    margin-right: 8px;
  }
}

mat-toolbar.mat-toolbar {
  span {
    margin-right: 4px;
    margin-left: 4px;
  }

  button.mat-button {
    margin-left: 4px;
    margin-right: 4px;
  }
}

a.mat-tab-link {
  min-width: 80px;
}

.container {
  padding: 4px;
}

.card {
  margin: 4px;
}

.clickable {
  cursor: pointer;
}

img.thumbnail {
  height: 80px;
}

img.profile-image {
  height: 200px;
}

.static-elevation {
  @include mat.elevation(2);
}

.elevated {
  @include mat.elevation-transition;
  @include mat.elevation(2);

  &:hover {
    @include mat.elevation(6);
  }
}

mat-dialog-container {
  background-color: transparent !important;
}

.mat-mdc-dialog-container {
  border-radius: 1rem !important;
}

.mdc-dialog__surface {
  border-radius: 1rem !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 1rem !important;
  background-color: transparent !important;
}

.settings-menu-item {
  cursor: pointer;
}

.mat-mdc-menu-panel {
  background-color: var(--bg_translucent_contrast) !important;
  color: var(--menu_item_text) !important;
  backdrop-filter: blur(35px);
}

.settings-menu-item.mat-mdc-menu-item {
  color: var(--menu_item_text) !important
}

.settings-menu-item.mat-icon-no-color {
  color: var(--menu_item_text) !important
}

.mat-internal-form-field {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
}

.mat-mdc-table {
  background-color: transparent !important;
}

.mat-mdc-paginator {
  background-color: transparent !important;
}

.mat-mdc-card {
  background: var(--bg_translucent_contrast) !important;
  backdrop-filter: blur(35px);
}

.mdc-text-field--filled {
  background-color: var(--secondary) !important;
}

.mat-mdc-snackbar-surface {
  background-color: var(--snackbar_warn) !important;
  color: var(--text_warn) !important;
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled).mat-unthemed {
  color: var(--text_warn) !important;
}

th.custom-header {
  pointer-events: none !important;
}

td,
th {
  width: auto;
}

tr:nth-child(even) {
  background: transparent;
}

tr:nth-child(odd) {
  background-color: transparent;
}

th {
  position: sticky;
  top: 0;
  background-color: var(--secondary);
  z-index: 2;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;

  box-shadow:
    inset 0 1px 0 var(--accent),
    inset 0 -1px 0 var(--accent);

  border: none;
}

.table-body-wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  flex-grow: 1;
  height: 100%;
  min-height: 0;
  max-height: 100%;
}

table {
  margin: 0 auto;
  width: 100%;
  box-shadow: none;
}

input[type="text"] {
  width: 100%;
}

caption {
  padding: none;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  z-index: 0;
  background-color: var(--bg_secondary);
  padding: 1rem 2rem;
  border-radius: 1rem;
  max-height: 100%;

  width: 100%;
}

caption {
  caption-side: top;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mat-empty-table {
  padding: 1.75rem 1rem 1.75rem 1rem;
  opacity: 0;
  animation: fade-in-animation 0.35s ease-in-out forwards;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  width: 100%;
}

.mat-paginator {
    .mat-paginator-container {
        justify-content: center;
    }

    .mat-paginator-range-label {
        order: 2;
    }

    .mat-paginator-navigation-previous {
        order: 1;
    }
    .mat-paginator-navigation-next {
        order: 3;
    }
}

//#endregion