.landing-section {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-title-container{
    user-select: none;
}

.landing-title {
    font-family: custom_bold;
    font-size: 2.5rem;
    color: var(--text_primary);

    text-transform: uppercase;
}