.landing-section {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    user-select: none;
}

.landing-title {
    font-family: custom_bold;
    font-size: 2.5rem;
    color: var(--text_primary);

    text-transform: uppercase;
}

.landing-title-description {
    opacity: 0.6;
}

.landing-bg-stars {
    background: black url('../../../../assets/images/stars.png') repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: -2;
}

.landing-bg-twinkling-effect {
    width: 10000px;
    height: 100%;
    background: transparent url('../../../../assets/images/twinkling.png') repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;
}