<section class="landing-section fade-in-anim">
    @if(deviceTheme === 'dark') {
        <div class="landing-bg-stars"></div>
        <div class="landing-bg-twinkling-effect"></div>
    }

    <div class="landing-title-container">
        <div class="landing-title">
           {{ currentUser?.firstName + ', ' }}  Welcome to SpaceX Interop
        </div>
        
        <generic-button (onClick)="navigateToLaunches()" [style]="'default'" [text]="'View All Launches'">
            
        </generic-button>
    </div>
</section>